<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h3> Login  </h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="email"> Email </label>
                    <input type="text" id="email" class="form-control" [(ngModel)]="email" name="email">
                </div>
                <div class="form-group">
                    <label for="pwd"> Password </label>
                    <input type="password" id="pwd" class="form-control" [(ngModel)]="password" name="password">
                </div>
                <div class="form-group">
                    <label for="option"> Type </label>
                    <select class="form-control" id="option" (click)="select($event)">
                        <option disabled> Select..</option>
                        <option value="admin">admin</option>
                        <option value="hr">hr</option>
                      
                      </select>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button class="btn btn-success" (click)="login()"> Login </button>
                    </div>
                </div>
            </form>
          
        </div>
    </div>
</div> 